.row
  .col-md-4.offset-md-4
    %h4 Check winner list :)
.row
  .col-12
    = form_tag result_path, method: :post do
      .row
        .col-md-3.offset-md-2
          = label_tag 'winner_list_addresses', 'Winner List'
          = text_area_tag 'winner_list_addresses', nil, rows: 10, cols: 25, class: 'form-control'
        .col-md-4.offset-md-1
          = label_tag 'owner_list_addresses', 'Owner List'
          = text_area_tag 'owner_list_addresses', nil, rows: 10, cols: 25, class: 'form-control'
      .row.mt-3
        .col-md-3.offset-md-5
          %button{type: 'submit', class: 'btn btn-success'}
            Submit